http {
    upstream backend {
        server {{ backend_1 }}:8080;
        server {{ backend_2 }}:8080;
        server {{ backend_3 }}:8080;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
        }
    }
}